@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
}
.form-group,
.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-container input:focus {
  outline: 0 !important;
}
#left,
#right {
  font-size: 2em;
  padding-top: 15px;
}
