body {font-weight: 500;}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 75% !important;
    }
}

@media only screen and (min-width: 640px) {
    .oponents td {
        font-size: 1.2rem;
    }
}


@media only screen and (min-width: 640px) {
    .player p {
        font-size: 1.2rem;
    }
}



div.content {text-align: justify;}
div.content h3 {text-align: center !important;}

div.content p {margin-left: 1rem; margin-right: 1rem; font-size: 1.4rem;}

div.player p {margin-left: 1rem; margin-right: 1rem;; margin:0px}

div.player {text-align: left; padding:0px;}

div.player {overflow-wrap: break-word;}

div.margin-top {margin-top: 20px;}
h4.margin-top {margin-top: 20px;}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}