<div class="card">
    <div class="card-header" id="<%= data.headingId %>">
        <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" id="<%= data.collapseButtonId%>" data-target="#<%= data.collapseId %>" aria-expanded="true" aria-controls="<%= data.collapseId %>">
            <%= data.controlTitle %>
        </button>
        </h5>
    </div>

    <div id="<%= data.collapseId %>" class="collapse <%= data.show%>" aria-labelledby="<%= data.headingId %>" data-parent="#accordion">
        <div class="card-body">
            <div class="col-md-12">
                <button class="btn btn-info <%= data.backButton%>" id="<%= data.backId%>" data-toggle="collapse" data-target="#<%= data.backButtonTarget %>" aria-expanded="true" aria-controls="<%= data.backButtonTarget %>">
                    Back
                </button>
                <button class="btn btn-info <%= data.nextButton%>" id="<%= data.nextId%>" data-toggle="collapse" data-target="#<%= data.nextButtonTarget %>" aria-expanded="true" aria-controls="<%= data.nextButtonTarget %>">
                    Next
                </button>
            </div>
            <hr />
            <form method="POST" id='<%= data.cleanFormId%>' action="<%= data.cleanFormAction%>"
                enctype="multipart/form-data">
                <div class="row" align="left">
                    <div class="col-md-10">
                        <label><%= data.cleanFormLabel%></label>
                    </div>
                    <div class="col-md-2" align="left">
                        <input type='submit' class="form-control btn btn-warning mb-1" value='<%= data.cleanFormButtonStr%>' />
                    </div>
                </div>
            </form>
                <hr />
                <form method="POST" id='<%= data.uploadFormId%>' action="<%= data.uploadFormAction%>"
                    enctype="multipart/form-data">
                    <div class="row" align="left">
                        <div class="col-md-12">
                            <label><%= data.uploadFormLabel%></label>
                        </div>
                        <div class="col-md-6">
                            <input type="file" class="form-control" name="<%= data.uploadFormUploadName%>" id="<%= data.uploadInputId%>" multiple />
                        </div>
                        <div class="col-md-2 col-sm-2" align="center">
                            <input type='submit' class="form-control btn btn-primary mb-1"
                                value='<%= data.uploadFormButtonStr%>' />
                        </div>
                        <hr />
                        
                         <%if (data.type == "mainPhoto") { %>
                            <div class="col-md-4 preview-image" id="<%= data.uploadPreviewId%>">
                                <%if (data.uploadPreviewSrc) { %>
                                    <img width="250px" src='<%= data.uploadPreviewSrc%>' />
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="col-md-12 preview-image">
                                <div id="<%= data.uploadPreviewId%>"> </div>
                            </div>
                        <% } %>
                            
                    </div>
                </form> 
        
        </div>
    </div>
</div>
