<div class="card">
    <div class="card-header" id="<%= data.headingId %>">
        <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#<%= data.collapseId %>" aria-expanded="true" aria-controls="<%= data.collapseId %>">
            <%= data.controlTitle %>
        </button>
        </h5>
    </div>

    <div id="<%= data.collapseId %>" class="collapse <%= data.show%>" aria-labelledby="<%= data.headingId %>" data-parent="#accordion">
        <div class="card-body">
            <div class="col-md-12">
                <button class="btn btn-info <%= data.backButton%>" id="<%= data.backId%>" data-toggle="collapse" data-target="#<%= data.backButtonTarget %>" aria-expanded="true" aria-controls="<%= data.backButtonTarget %>">
                    Back
                </button>
                <button class="btn btn-info <%= data.nextButton%>" data-toggle="collapse" data-target="#<%= data.nextButtonTarget %>" aria-expanded="true" aria-controls="<%= data.nextButtonTarget %>">
                    Next
                </button>
            </div>
            <hr />
            <form method="POST" id='<%= data.generateFormId%>' action="<%= data.generateFormAction%>"
                enctype="multipart/form-data">
                <div class="row" align="left">
                    <div class="col-md-6">
                        <label><%= data.generateFormLabel%></label>
                    </div>
                    <div class="col-md-2 col-sm-2" align="center">
                        <input type='submit' class="form-control btn btn-success mb-1"
                            value='<%= data.generateFormButtonStr%>' />
                    </div>
                    <hr />
                    
                    <div class="col-md-4 preview-image" id="<%= data.generatePreviewId%>">
                        <%if (data.generatePreviewSrc) { %>
                            <img width="250px" src='<%= data.generatePreviewSrc%>' />
                        <% } %>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>
