<!-- Global site tag (gtag.js) - Google Analytics -->
<!--script async src="https://www.googletagmanager.com/gtag/js?id=UA-127886266-1"></script-->
<!--script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127886266-1');
</script-->


<title><%= metadata.title %></title>
<meta data-name="description" content="<%= metadata.description %>"/>
<meta data-name="keywords" content="<%= metadata.keywords %>" />
<meta data-name="robots" content="INDEX,FOLLOW" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url"           content="http://chesssupercup.com<%= metadata.url%>" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="<%= metadata.title %>" />
<meta property="og:description"   content="<%= metadata.description %>" />
<meta property="og:image"         content="/img/youth-super-cup-small.jpg" />
<!--link rel="icon" href="/img/favicon.ico" type="image/x-icon" /-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
 
<!-- nanogallery2 -->
<link href="https://unpkg.com/nanogallery2@2.4.2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.2/dist/jquery.nanogallery2.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
