<!DOCTYPE html>

<html>

<head>
    <%- include('header-general.ejs') %>
</head>

<body onload="checkCookie()">
    <%if (locals.sessionId==null) { %>
        <div class="modal fade top" id="modalCookieSessionId" role="dialog" aria-labelledby="myModalLabel"
            data-backdrop="true">
            <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center align-items-center">

                            <p class="pt-3 pr-2">We use cookies to seperate sessions for every user.</p>

                            <button type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal"
                                onClick="window.location.reload();">Ok, Thanks</button>
                        </div>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    <% } %>

    <div class="container margin-top" align="center">
        <h1>
            <%= metadata.h1%>
        </h1>
        
        <h2>The Awesome Mosaic Photo Generation.</h2>
    <%if (locals.sessionId != null) { %>
        <div id="accordion">
            <%- include('commonUpload.ejs', { data: locals.data[0]} ) %>
            <%- include('commonUpload.ejs', { data: locals.data[1]} ) %>
            <%- include('generate.ejs', { data: locals.data[2]} ) %>   
            <script>
                $('#back3, #next1, #collapseButtonId2').click( function () {
                    jQuery("#<%= data[1].uploadPreviewId%>").nanogallery2( {
                        <!-- ### gallery settings ### -->

                        thumbnailHeight: '75',
                        thumbnailWidth:  'auto',
                        thumbnailOpenInLightox: false,
                        itemsBaseURL:     '<%= data[1].photosFolder%>',

                        <!-- ### gallery content ### -->

                        items: [
                            <%if (data[1].uploadPreviewSrc) { %>
                                <% for (var j=0; j < data[1].uploadPreviewSrc.length; j++ ) { %>
                                    { src: '/' + '<%= data[1].uploadPreviewSrc[j]%>', srct: '/'+'<%= data[1].uploadPreviewSrc[j]%>' },
                                <% } %>
                            <% } %>
                        ]

                    });
                });

            </script>
         </div>
    <% } %>

            <hr />
            <div class="row" align="left">
                <div class="col-md-12">
                    <p>Please follow the above steps to generate the awesome mosaic photo:</p>
                    <ul>
                        <li>Upload the main image.</li>
                        <li>Upload photos, max 100 files can be uploaded at once, which will be used to create
                            the
                            mosaic by changing the sizes of the uploaded photos and matching the colour scheme
                            with
                            the corresponded part of the main photo.</li>
                        <li>Click on generate button. A small resolution result will be shown on right part.
                        </li>
                        <li>The following snapshots illustrates the actual result.
                            <ul>
                                <li>First one is the main file chosen for mosaic photo generation.</li>
                                <li>Second one is a snapshot of 250 files chosen to be used in mosaic photo.
                                </li>
                                <li>Third snapshot is generated mosaic. </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-md-4">
                    <img width="100%" src='client/img/main-mosaic_main.jpg' />
                </div>
                <div class="col-md-4">
                    <img width="100%" src='client/img/main-mosaic_small_photos.jpg' />
                </div>
                <div class="col-md-4">
                    <img width="100%" src='client/img/main-mosaic_example.jpg' />
                </div>
            </div>
    </div>

    <%if (locals.sessionId==null) { %>
        <script>
            $(document).ready(function () {
                $('#modalCookieSessionId').modal({ backdrop: 'static', keyboard: false });
            });
        </script>
    <% } %>
    <script>
        $(document).ready(function () {
            let imagesPreview = function (input, w, label, placeToInsertImagePreview) {
                if (input.files) {
                    let filesAmount = input.files.length;
                    for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML("<img>"))
                                .attr("width", w)
                                .attr("class", label)
                                .attr("src", event.target.result)
                                .appendTo(placeToInsertImagePreview);
                        };
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };

            $("#input-multi-files").on("change", function () {
                $(".generatedphotos").remove();
                //imagesPreview(this, 50, "generatedphotos", "div.preview-images");
            });
            $("#input-single-file").on("change", function () {
                $(".generatedphoto").remove();
                //imagesPreview(this, 300, "generatedphoto", "div.preview-image");
            });
        });
    </script>

    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function makeid(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        function checkCookie() {
            var user = getCookie("sessionid");
            if (user == "") {
                let user = makeid(10);
                if (user != "" && user != null) {
                    setCookie("sessionid", user, 30);
                }
            }
        }
    </script>

</body>

</html>
