<div class="card">
    <div class="card-header" id="<%= data.headingId %>">
        <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#<%= data.collapseId %>" aria-expanded="true" aria-controls="<%= data.collapseId %>">
            <%= data.controlTitle %>
        </button>
        </h5>
    </div>

    <div id="<%= data.collapseId %>" class="collapse <%= data.show%>" aria-labelledby="<%= data.headingId %>" data-parent="#accordion">
        <div class="card-body">
            <div class="col-md-12">
                <button class="btn btn-info <%= data.backButton%>" data-toggle="collapse" data-target="#<%= data.backButtonTarget %>" aria-expanded="true" aria-controls="<%= data.backButtonTarget %>">
                    Back
                </button>
                <button class="btn btn-info <%= data.nextButton%>" data-toggle="collapse" data-target="#<%= data.nextButtonTarget %>" aria-expanded="true" aria-controls="<%= data.nextButtonTarget %>">
                    Next
                </button>
            </div>
            <hr />
            <p>The checkout options here!!!</p>
        </div>
    </div>
</div>
